<?xml version="1.0" encoding="utf-8"?>
<Fields xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <EnableChangeConf>false</EnableChangeConf>
  <EnableShowTips>true</EnableShowTips>
  <PWDBLang>0</PWDBLang>
  <EnableBackups>true</EnableBackups>
  <EnableToClipboard>true</EnableToClipboard>
  <Language>0</Language>
  <EnableShowDigits>true</EnableShowDigits>
  <EnableShowPercents>true</EnableShowPercents>
  <EnableAutoLoadTasks>true</EnableAutoLoadTasks>
  <EnableAutoLoadElements>true</EnableAutoLoadElements>
  <EnableShowInfo>true</EnableShowInfo>
  <EnableSetNewID>true</EnableSetNewID>
  <EnableAutoDetectNewID>true</EnableAutoDetectNewID>
  <EnableShowMarks>true</EnableShowMarks>
  <EnableShowGreeting>true</EnableShowGreeting>
  <IgnoreColorCod>false</IgnoreColorCod>
  <UseUdE>false</UseUdE>
  <PWDBWindow_Size>
    <Width>0</Width>
    <Height>0</Height>
  </PWDBWindow_Size>
  <SelectIdWindow_Size>
    <Width>0</Width>
    <Height>0</Height>
  </SelectIdWindow_Size>
  <SelectItemIdWindow_Size>
    <Width>0</Width>
    <Height>0</Height>
  </SelectItemIdWindow_Size>
  <SelectBuffIdWindow_Size>
    <Width>0</Width>
    <Height>0</Height>
  </SelectBuffIdWindow_Size>
  <SelectWorldIdWindow_Size>
    <Width>0</Width>
    <Height>0</Height>
  </SelectWorldIdWindow_Size>
  <SelectSkillIdWindow_Size>
    <Width>0</Width>
    <Height>0</Height>
  </SelectSkillIdWindow_Size>
  <SelectTaskDescriptionIdWindow_Size>
    <Width>0</Width>
    <Height>0</Height>
  </SelectTaskDescriptionIdWindow_Size>
  <SelectRelayStationIdWindow_Size>
    <Width>0</Width>
    <Height>0</Height>
  </SelectRelayStationIdWindow_Size>
  <SelectTransformedFormIdWindow_Size>
    <Width>0</Width>
    <Height>0</Height>
  </SelectTransformedFormIdWindow_Size>
  <SelectGrowthTargetWindow_Size>
    <Width>0</Width>
    <Height>0</Height>
  </SelectGrowthTargetWindow_Size>
  <FilesPath>
    <ElementPath />
    <ElementsPath>C:\projects\perfect-world-solo\146\server\gamed\config\elements.data</ElementsPath>
    <TasksPath>C:\Users\Romain\Desktop\tasks.data</TasksPath>
    <ConfigsPath>C:\projects\perfect-world-solo\146\client\element\configs.pck</ConfigsPath>
    <InterfacesPath>C:\projects\perfect-world-solo\146\client\element\interfaces.pck</InterfacesPath>
    <SurfacesPath>C:\projects\perfect-world-solo\146\client\element\surfaces.pck</SurfacesPath>
    <WorldTargetsPath />
  </FilesPath>
</Fields>